@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*{
   margin: 0;
   padding: 0;
}
.inputs {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding:100px;
}
.movies{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poster{
  float: left;
  width:300px;
  height: 350px;
  margin-right: 25px;
}
h1{
  padding: 20px 6px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  text-align:left;
  font-size:32px;
}
.details{
  display: flex;
}
.details>p{
  padding-right: 30px;
}
.information{
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 12px;
 padding-left: 8px;
}
.movieDetails{
   width: 800px;
   height: 350px;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin-bottom: 100px;
   margin-top: 50px; 
}
.text{
  color: rgb(255, 30, 0);
  cursor: pointer;
  padding: 5px;
}
.fa{
  color: orange;
}
.text{
  position: relative;
  top: -12px;
}
.edit-delete-button{
  display: flex;
  padding-top: 10px;
  width: 50px;
  gap: 20px;
  padding: 0;
}
.likedislikebtn{
  border: none;
  color: #dce1e5;
  background-color: transparent;
  font-size: 20px;
  margin: 10px 30px 10px 9px;
  padding: 0px;
}
@media (max-width:800px){
.details{
  display: flex;
  justify-content: center;
}
.inputs {
  padding: 15px;
}
.details>p{
  padding-right: 30px;
}
.information{
  justify-content: center;
}
.text{
    position: relative;
    top: -6px;

}
.edit-delete-button{
  padding:0 95px;
}
.likedislikebtn{
  padding-left:75px;
  padding-bottom: 10px;
  margin: 0;
}
body{
  background-color: #dce1e5;
}
.poster{
    width: 300px;
    height: 300px;
}
.movieDetails{
    display: flex;
    height: auto;
    width: 300px;
    flex-direction: column;
    padding-bottom: 10px;
}
.info-title{
  text-align: center;
  padding: 10px;
}
h1{ 
    font-weight:400;
    text-align:center;
    font-size:22px;
    padding: 5px 10px;
} 
.details,.information{
    padding:0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.details>p,.information>p{
padding:5px;
margin: 0;
}}
.input-searchBox{
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 350px;
  margin-top:50px ;
}
.errorpage{
  width: 100%;
  height: 100vh;
}
.addSaveBtn{
  display: flex;
  justify-content: center;
}
.home{
  margin-top: 50px;
  position: relative;
  left: 50%;
  font: bold 200% ;
  border-right:0.1em solid ;
  width:150px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(10,end),cursor-blink 0.5s step-end infinite alternate;
}
@keyframes typing {
  from{
    width: 0;
  }
}
@keyframes cursor-blink {
  50%{
    border-color: transparent;
  }
}

.gameBox{
  height: 8rem;
  width: 8rem;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor:pointer;
}
.board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
}
.fullGame{
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.selectBtn{
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}


